[Unit]
Description=Run push.lisp script at boot
After=multi-user.target

[Service]
Type=simple
User=jon
WorkingDirectory=/home/jon/hal9k
ExecStart=/home/jon/hal9k/support/push.sh
Restart=always
RestartSec=2s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
